[run]
omit =
    */tests/*
    */migrations/*
    */locale/*
    */site-package/*
    */fixtures/*
    manage.py
    conftest.py

[report]
omit =
    */tests/*
    */migrations/*
    */locale/*
    */site-package/*
    */fixtures/*
    manage.py
    conftest.py
