[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
black = "*"
django-rest-framework = "*"
django-rest-swagger = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
django-authtools = "*"
django-filter = "*"
systemd-python = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
factory-boy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
